ex1/__pycache__/digit_classifier.cpython-39.pyc
ex1/__pycache__/ex1_test.cpython-39-pytest-7.4.0.pyc
ex1/__pycache__/general_utilities.cpython-39.pyc
ex1/__pycache__/presubmit_script.cpython-39.pyc
ex1/__pycache__/time_stretch.cpython-39.pyc
